# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
gk-cli

# Test binary, build with `go test -c`
*.test


# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
glide.lock
vendor/

.idea
*.iml
.vscode/
